<!-- encounter.html start -->
<div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-2">
			<h5>Initiative</h5>
		</div>
		<div class="col-md-2">
			<h5>Name</h5>
		</div>
		<div class="col-md-2">
			<h5>HP</h5>
		</div>
		<div class="col-md-2">
			<h5>Notes</h5>
		</div>
		<div class="col-md-2"></div>
	</div>
	<hr class="dotted"/>
	<div id="characters"></div>
	<div class="row" id="inputrow">
		<div class="col-md-2"><h5>Add a new Character</h5></div>
		<div class="col-md-2">
			<input id="initiative-field" type="text" class="form-control" placeholder="">
		</div>
		<div class="col-md-2">
			<input id="name-field" type="text" class="form-control" placeholder="">
		</div>
		<div class="col-md-2">
			<input id="hp-field" type="text" class="form-control" placeholder="">
		</div>
		<div class="col-md-2">
			<input id="notes-field" type="text" class="form-control" placeholder="">
		</div>
		<div class="col-md-2">
			<!--<button id="add-" type="button" class="btn btn-danger">Remove - </button>-->
		</div>
	</div>
	<div class="row" style="margin-top:15px;">
		<div class="col-md-11">
		</div>
		<div class="col-md-1">
			<button id="add-char" type="button" class="btn btn-primary">Add +</button>
		</div>
	</div>
</div>
<!-- encounter.html end -->