<!-- nav.html start -->
<div class="masthead clearfix">
	<div class="inner">
		<h3 class="masthead-brand">N-Counter -- Initiative/Combat Tool </h3>
		<nav class="nav nav-masthead">
			<span id="home-button" class="nav-link" style="cursor:pointer;">Home</span>
			<span id="encounters-button" class="nav-link" style="cursor:pointer;">Encounters</span>
			<a class="nav-link" target="_blank" href="https://github.com/TheFenderStory/n-counter/blob/master/README.md">About</a>
		</nav>
	</div>
</div>
<!-- nav.html end -->
