<!-- saved-encounters.html start -->
<div class="row" style="padding-right: 3%; margin-bottom: 3%;">
	<div class="col-md-12">
		<span id="usage">
			Usage: Encounters that were saved on the home screen appear below. An imported encounter will not be saved unless it
			is saved again with the same name.
		</span>
	</div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-2" style="text-align:center">
		<h5 >Encounter Name</h5>
	</div>
	<div class="col-md-2" style="text-align:center">
		<h5>Created</h5>
	</div>
	<div class="col-md-2" style="text-align:center">
		<h5>Number of Characters</h5>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-2"></div>
</div>
<hr class="dotted"/>
<div id="saved-encounters">

</div>
<!-- saved-encounters.html end -->